<div class="wrapper fadeInDown">
  <div  id="formContent" class="row">
    <div class="fadeIn first">
      <img src="assets/img/logo.png" id="icon" alt="User Icon"/>
    </div>
    <div class="col-1"></div>
    <div class="col-10">
      <h4 class="mb-4 mt-3">Iniciar Sesión</h4>

      <div *ngIf="credencialesNoValidas" class="p-message p-message-error p-2">
        <span>Usuario y/o contraseña no válidos</span>
      </div>

      <form [formGroup]="form" (ngSubmit)="login()">
          <label for="formControlInput2" class="form-label">Correo Electrónico</label>
          <input pInputText id="formControlInput2" class="form-control fadeIn second" formControlName="persona_correo" type="email" placeholder="Correo electrónico">
          <div *ngIf="personaCorreo!.invalid && personaCorreo!.touched" class="p-error">
            <span>Debe ser una dirección de correo válida</span>
          </div>
          <label for="password" class="form-label mt-2">Contraseña</label>
          <input pPassword id="password" [feedback]="false" class="form-control fadeIn third" formControlName="persona_clave" type="password" placeholder="Contraseña"/>
          <div *ngIf="personaClave!.invalid && personaClave!.touched" class="p-error">
              <span>Debe introducir una clave</span>
          </div>
        <button pButton pRipple type="submit" class="p-button-raised fadeIn fourth mt-3" [loading]="estadoCargandoLogin" [disabled]="form.invalid" label="Iniciar sesión"></button>
      </form>
      <a [routerLink]="['/auth/registro']" class="underlineHover my-3">O regístrate si todavía no tienes cuenta</a>
    </div>
    <div class="col-1"></div>
  </div>
</div>
