<h4>Inicia Sesión</h4>
<form [formGroup]="form" (ngSubmit)="login()">
  <input class="form-control" formControlName="persona_correo" type="email" placeholder="Correo Electrónico" required>
  <div *ngIf="personaCorreo!.invalid && (personaCorreo!.dirty || personaCorreo!.touched)" class="alert alert-danger">
    <div *ngIf="personaCorreo!.errors?.['required']">
      El campo "Correo electrónico" es obligatorio.
    </div>
    <div *ngIf="personaCorreo!.errors?.['email']">
      El campo "Correo electrónico" debe ser una dirección de correo electrónico válida.
    </div>
  </div>
  <input class="form-control" formControlName="persona_clave" type="password" placeholder="Contraseña" required>
  <div *ngIf="personaClave!.invalid && (personaClave!.dirty || personaClave!.touched)" class="alert alert-danger">
    <div *ngIf="personaClave!.errors?.['required']">
      El campo "Clave" es obligatorio.
    </div>
    <div *ngIf="personaClave!.errors?.['minlength']">
      El campo "Clave" debe tener un mínimo de 5 caracteres.
    </div>
  </div>
  <button type="submit" [disabled]="form.invalid">Iniciar Sesión</button>
</form>
<!--TODO: Una funcionalidad similar a la del siguiente ng-container puede ser trasladado a la siguiente vista (Suscripciones) cuando exista-->
<!--
<ng-container *ngIf="personaActiva.id">
  <h5>Bienvenid@, {{personaActiva.nombre}}</h5>
  <button type="button" (click)="logout()">Cerrar Sesión</button>
</ng-container>
-->
<a [routerLink]="['/auth/registro']">O regístrate.</a>
