<!--<div class="container-fluid container p-2">

  <div class="row ">
    <div class="col-2">
      <img src="" alt="">
    </div>
    <div class="col-8">
      <h4 class="mt-2">Inicia Sesión</h4>
      <form [formGroup]="form" (ngSubmit)="login()">
        <label for="formControlInput" class="form-label">Correo Electrónico</label>
        <input id="formControlInput" class="form-control" formControlName="persona_correo" type="email" placeholder="name@example.com" required>
        <div *ngIf="personaCorreo!.invalid && (personaCorreo!.dirty || personaCorreo!.touched)" class="alert alert-danger">
          <div *ngIf="personaCorreo!.errors?.['required']">
            El campo "Correo electrónico" es obligatorio.
          </div>
          <div *ngIf="personaCorreo!.errors?.['email']">
            El campo "Correo electrónico" debe ser una dirección de correo electrónico válida.
          </div>
        </div>
        <label for="exampleInputPassword1" class="form-label mt-2">Contraseña</label>
        <input id="exampleInputPassword1" class="form-control" formControlName="persona_clave" type="password" placeholder="Contraseña" required>
        <div *ngIf="personaClave!.invalid && (personaClave!.dirty || personaClave!.touched)" class="alert alert-danger">
          <div *ngIf="personaClave!.errors?.['required']">
            El campo "Clave" es obligatorio.
          </div>
          <div *ngIf="personaClave!.errors?.['minlength']">
            El campo "Clave" debe tener un mínimo de 5 caracteres.
          </div>
        </div>
        <button  type="button" class="btn btn-outline-secondary mt-3 mb-2" [disabled]="form.invalid">Iniciar Sesión</button>
      </form>
      <a [routerLink]="['/auth/registro']">O regístrate.</a>
      <div class="col-2"></div>
    </div>
  </div>
  </div>-->
  <!--TODO: Una funcionalidad similar a la del siguiente ng-container puede ser trasladado a la siguiente vista (Suscripciones) cuando exista-->
  <!--
  <ng-container *ngIf="personaActiva.id">
    <h5>Bienvenid@, {{personaActiva.nombre}}</h5>
    <button type="button" (click)="logout()">Cerrar Sesión</button>
  </ng-container>
  -->


<!-- otro formulario de login -->
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/img/logo.png" id="icon" alt="User Icon" />
    </div>

  <div class="row ">
    <div class="col-2">
      <img src="" alt="">
    </div>
    <div class="col-8">
      <h4 class="mb-4 mt-3">Iniciar Sesión</h4>
      <form [formGroup]="form" (ngSubmit)="login()">
        <label for="formControlInput2" class="form-label">Correo Electrónico</label>
        <input id="formControlInput2" class="form-control fadeIn second" formControlName="persona_correo" type="email" placeholder="name@example.com" required>
        <div *ngIf="personaCorreo!.invalid && (personaCorreo!.dirty || personaCorreo!.touched)" class="alert alert-danger">
          <div *ngIf="personaCorreo!.errors?.['required']">
            El campo "Correo electrónico" es obligatorio.
          </div>
          <div *ngIf="personaCorreo!.errors?.['email']">
            El campo "Correo electrónico" debe ser una dirección de correo electrónico válida.
          </div>
        </div>
        <label for="exampleInputPassword" class="form-label mt-2">Contraseña</label>
        <input id="exampleInputPassword" class="form-control fadeIn third" formControlName="persona_clave" type="password" placeholder="Contraseña" required>
        <div *ngIf="personaClave!.invalid && (personaClave!.dirty || personaClave!.touched)" class="alert alert-danger">
          <div *ngIf="personaClave!.errors?.['required']">
            El campo "Clave" es obligatorio.
          </div>
          <div *ngIf="personaClave!.errors?.['minlength']">
            El campo "Clave" debe tener un mínimo de 5 caracteres.
          </div>
        </div>
        <button  type="submit" class="fadeIn fourth mt-3" [disabled]="form.invalid">Iniciar Sesión</button>
      </form>
      <a [routerLink]="['/auth/registro']" class="underlineHover mt-3">O regístrate.</a>
      <div class="col-2"></div>
    </div>
  </div>
  <!--TODO: Una funcionalidad similar a la del siguiente ng-container puede ser trasladado a la siguiente vista (Suscripciones) cuando exista-->
  <!--
  <ng-container *ngIf="personaActiva.id">
    <h5>Bienvenid@, {{personaActiva.nombre}}</h5>
    <button type="button" (click)="logout()">Cerrar Sesión</button>
  </ng-container>
  -->
</div>
</div>
</body>
