<div class="card fondo-variado rounded">
  <!--<ng-container>-->
  <app-barra-progreso *ngIf="this.cargando"></app-barra-progreso>
  <!--  <ul class="list-group" *ngFor="let grupo of gruposConPersonasPorSuscripcion; index as indiceDeGrupo" >-->
  <!--    <li class="list-group-item">{{indiceDeGrupo+1}}.   {{grupo.persona.nombre}}</li>-->
  <!--  </ul>-->
  <!--</ng-container>-->
  <h1>Personas para: {{this.grupo.suscripcion.plataforma.nombre}}</h1>
  <h4>Más en concreto: {{this.grupo.suscripcion.descripcion}}</h4>
  <div class="d-flex align-content-stretch flex-wrap justify-content-center mt-5">
    <ng-container *ngFor="let grupo of this.gruposConPersonasPorSuscripcion; index as indiceGrupo">
      <p-card
        *ngIf="this.grupo"
        header="{{this.grupo.persona.nombre}}"
        subheader="Persona: {{indiceGrupo + 1}}"
        [style]="{width: '17rem', height: '26rem'}" class="m-2">
        <ng-template pTemplate="header">
          <div class="contenedor-imagen">
            <img class="mx-auto d-block mantener-proporcion-imagen acolchar-imagen" alt="Card" src="https://picsum.photos/200/300?random={{indiceGrupo}}">
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Correo
              <span class="badge bg-secondary rounded-pill">
              {{this.grupo.persona.correo}}
              </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Teléfono
              <span class="badge bg-secondary rounded-pill">
              {{this.grupo.persona.telefono}}
              </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Rol
              <span class="badge bg-secondary rounded-pill" *ngIf="grupo">
              {{this.grupo.persona.admin? 'Administrador': 'Miembro'}}
              </span>
            </li>
          </ul>
        </ng-template>
      </p-card>
    </ng-container>
  </div>
</div>
