<!--<app-barra-progreso>*ngIf="this.gruposConPersonasPorSuscripcion.estadoCargando"</app-barra-progreso>

<ng-container>
<ul class="list-grupo">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Suscripciones</span>
      <span class="badge bg-secondary rounded-pill">
        <tr class="thead-dark>
         <th>Nombre</th>
         </tr>
           <th *ngFor="let persona of gruposConPersonasPorSuscripcion; let i=index;">Poder</th>
          <td>{{this.gruposConPersonasPorSuscripcion[].persona.nombre}}</td>
      </span>
  </li>
</ul>
</ng-container>

<li>{{this.gruposConPersonasPorSuscripcion[0].persona.nombre}}</li>
  <li>{{this.gruposConPersonasPorSuscripcion[1].persona.nombre}}</li>
  <li>{{this.gruposConPersonasPorSuscripcion[2].persona.nombre}}</li>
  <li>{{this.gruposConPersonasPorSuscripcion[3].persona.nombre}}</li>
  <li>{{this.gruposConPersonasPorSuscripcion[4].persona.nombre}}</li>
</ul>-->
