.logo {
  width:8rem;
}
/* Movil */
.movil{
  width: 18rem;
}



footer {

  color: #ccc;
}
.footer-icon {
  font-size: 20px;
  color: #ccc;

}
.copy {
  font-size: 10px;
}
.copy-link {
  color: #ccc;

}

.footer-icon:hover,
.copy-link:hover {
  color: #17a2b8;
  text-decoration: none;
  transition: 0.5s all ease;
}
.bg-footer{

  background: #4d43c6;
  padding-top: 0.5rem !important;
  color: #ccc;
}
/* Sobre Nosotros  */

/* Tarjetas sobre nosotros */
.card-box {
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  color: #17a2b8;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.1);
  transition: 0.5s all ease;
  margin-bottom: 60px;
}
.card-box:hover {
  transition: 0.5s all ease;
  box-shadow: 37px 45px 54px -7px rgba(0,0,0,0.43);
}
