.logo {
  width:8rem;
}

footer {

  color: #ccc;
}
.footer-icon {
  font-size: 20px;
  color: #ccc;

}
.copy {
  font-size: 10px;
}
.copy-link {
  color: #ccc;

}

.footer-icon:hover,
.copy-link:hover {
  color: #17a2b8;
  text-decoration: none;
  transition: 0.5s all ease;
}
.bg-footer{

  background: #4d43c6;
  padding-top: 2rem !important;
  color: #ccc;
}
