<p-card header="{{this._suscripcionesService.suscripciones![indiceSuscripcion].suscripcion.plataforma.nombre}}"
        subheader="Precio {{this._suscripcionesService.suscripciones![indiceSuscripcion].suscripcion.precio | currency:'EUR' }} anual"
        [style]="{width: '17rem'}" >
  <ng-template pTemplate="header">
    <!--TODO: Enlazar el enlace de la imagen de la plataforma con desde la base de datos (previos cambios necesarios)-->
    <img class="mx-auto d-block" alt="Card" src="assets/img/disney.png" [style]="{width: '10rem'}">
  </ng-template>
  <ng-template pTemplate="content">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Periodicidad
        <span class="badge bg-secondary rounded-pill">
          {{this._suscripcionesService.suscripciones![indiceSuscripcion].suscripcion.periodicidad.tipo}}
        </span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Precio
        <span class="badge bg-secondary rounded-pill">
          <!--TODO: Meter aquí el resultado de dividir el precio total entre el número de personas que hay en la suscripción.-->
        </span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Vencimiento
        <span class="badge bg-secondary rounded-pill">
          {{this._suscripcionesService.suscripciones![indiceSuscripcion].suscripcion.fechaProximoCobro.toString() | amLocale: 'es' | amTimeAgo}}
        </span>
      </li>
    </ul>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button styleClass="p-button-sm" label="Editar" icon="pi pi-pencil" (click)="mostrarDialogoEditarSuscripcion()" ></p-button>
  </ng-template>
</p-card>

<p-dialog
  [(visible)]="mostrar"
  [modal]="true"
  [resizable]="true"
  [maximizable]="true"
>
  <ng-template pTemplate="header">
    <h3>{{this._suscripcionesService.suscripciones![indiceSuscripcion].suscripcion.plataforma.nombre}}</h3>
    <h4>{{this._suscripcionesService.suscripciones![indiceSuscripcion].suscripcion.descripcion}}</h4>
  </ng-template>

  <ng-template pTemplate="content">
    <p>Lo que va dentro de la ventana es TODA la información de la tarjeta</p>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton class="p-button-text" label="Cerrar" icon="pi pi-times-circle" (click)="this.cerrarDialogoEditarSuscripcion()"></button>
  </ng-template>

</p-dialog>
