<p-card
        *ngIf="this.grupo"
        header="{{this.grupo.suscripcion.plataforma.nombre}}"
        subheader="Precio {{this.grupo.suscripcion.precio * 12 | currency:'EUR' }} anual"
        [style]="{width: '17rem', height: '33rem'}">
  <ng-template pTemplate="header">
    <div class="contenedor-imagen">
      <img class="mx-auto d-block mantener-proporcion-imagen acolchar-imagen" alt="Card" [src]="this.grupo.suscripcion.plataforma.logo">
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Periodicidad
        <span class="badge bg-secondary rounded-pill">
          {{this.grupo.suscripcion.periodicidad.tipo}}
        </span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Precio
        <span class="badge bg-secondary rounded-pill">
          {{this.grupo.suscripcion.precio | currency:'EUR'}}
        </span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Vencimiento
        <span class="badge bg-secondary rounded-pill" *ngIf="grupo">
          {{this.grupo.suscripcion.fechaProximoCobro | dateAsAgo}}
        </span>
      </li>
    </ul>
  </ng-template>
  <ng-template pTemplate="footer">
<!--      <p-button styleClass="p-button-sm" label="Editar" icon="pi pi-pencil" (click)="mostrarDetalles()" ></p-button>-->
<!--      <p-button styleClass="p-button-sm" label="Personas" icon="pi pi-users" (click)="mostrarPersonas()" ></p-button>-->
<!--      <p-button styleClass="p-button-sm" label="Recibos" icon="pi pi-euro" (click)="mostrarRecibos()" ></p-button>-->
    <p-speedDial [model]="items" direction="left"></p-speedDial>
  </ng-template>
</p-card>



<!--
<p-dialog
  [(visible)]="mostrar"
  [modal]="true"
  [resizable]="true"
  [maximizable]="true"
>
  <ng-template pTemplate="header">
  </ng-template>
  <ng-template pTemplate="content">
    <img class="mx-auto d-block  mb-3 "  alt="Card"  [src]="this._suscripcionesService.suscripciones![indiceSuscripcion].suscripcion.plataforma.logo" [style]="{width: '10rem'}">
    <p>Nombre: {{this._suscripcionesService.suscripciones![indiceSuscripcion].suscripcion.plataforma.nombre}}</p>
    <p>Descripción: {{this._suscripcionesService.suscripciones![indiceSuscripcion].suscripcion.descripcion}}</p>
    <p>Límite de perfiles</p>
    <p>Forma de pago: {{this._suscripcionesService.suscripciones![indiceSuscripcion].suscripcion.formaDePago.descripcion}}</p>
    <p>Fecha de alta: {{this._suscripcionesService.suscripciones![indiceSuscripcion].suscripcion.fechaAlta}}</p>
    <p>Fecha proximo cobro: {{this._suscripcionesService.suscripciones![indiceSuscripcion].suscripcion.fechaProximoCobro}}</p>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton class="p-button-text" label="Cerrar" icon="pi pi-times-circle" (click)="this.cerrarDialogoEditarSuscripcion()"></button>
  </ng-template>

</p-dialog>
-->
