<ng-container *ngIf="listaRecibos && grupo && listaGrupos && listaGruposFiltrada">
  <div class="card">
      <h1>Recibos para: {{this.grupo.suscripcion.plataforma.nombre}}</h1>
      <p>Más en concreto: {{this.grupo.suscripcion.descripcion}}</p>
      <ng-container *ngFor="let grupoIterado of this.listaGruposFiltrada">
        <p-table [value]="this.listaRecibos"
                 [sortField]="grupoIterado.suscripcion.fechaProximoCobro.toString() | amLocale: 'es' | amTimeAgo"
                 sortMode="single"
                 [dataKey]="grupoIterado.suscripcion.fechaProximoCobro.toString() | amLocale: 'es' | amTimeAgo"
                 rowGroupMode="subheader"
                 [groupRowsBy]="grupoIterado.suscripcion.fechaProximoCobro.toString() | amLocale: 'es' | amTimeAgo"
                 responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th>Nombre</th>
              <th>Fecha de Próximo Cobro</th>
              <th>Importe</th>
              <th>Cobrado</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="groupheader" let-recibo let-rowIndex="rowIndex" let-expanded="expanded">
            <tr>
              <td colspan="4">
                <button type="button"
                        pButton pRipple [pRowToggler]="recibo"
                        class="p-button-text p-button-rounded p-button-plain mr-2"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                </button>
                <span class="font-bold ml-2">{{grupoIterado.persona.nombre}}</span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="groupfooter">
            <tr class="p-rowgroup-footer">
              <td colspan="4" style="text-align: right">Total de Recibos</td>
              <td>{{this.listaRecibos.length.toString()}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion" let-recibo>
            <tr>
              <td></td>
              <td>{{grupoIterado.suscripcion.fechaProximoCobro.toString() | amLocale: 'es' | amTimeAgo}}</td>
              <td>{{recibo.importe | currency:'EUR'}}</td>
              <td>{{recibo.cobrado}}</td>
            </tr>
          </ng-template>
        </p-table>
    </ng-container>
  </div>
</ng-container>
